{
  "sample-user": {
    "user-name": "<sample-user>",
    "api-token": "<YOUR-API-TOKEN-HERE>"
  },
  "sample-user2": {
    "user-name": "<second-user>",
    "api-token": "<SECOND-API-TOKEN-HERE>"
  }
}
